<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kdrama Show Page</title>
  </head>
  <body>
    <h1><%= kdrama.name%> </h1>
    <% if (kdrama.watched){ %>
      <p>You have watched this drama</p>
    <% } else { %>
      <p>You have NOT watched this drama</p>
    <% } %>
    <h2>show details</h2>
    <ul>
      <li> This show was made in: <%= kdrama.year %></li>
      <li> Genre:<%= kdrama.genre %></li>
      
    </ul>
    <form action="/kdramas/<%=kdrama._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= kdrama.name %></button>
    </form>

      <a href="/kdramas/<%= kdrama._id %>/edit"> Edit <%= kdrama.name %></a>
      <a href="/kdramas">Back to list</a>
  </body>
</html>
